[routers]
R1 ansible_host=192.168.100.201
R2 ansible_host=192.168.100.202
R3 ansible_host=192.168.100.203
R4 ansible_host=192.168.100.204

[routers:vars]
ansible_connection=ansible.netcommon.network_cli
ansible_network_os=cisco.ios.ios
ansible_user=admin2
ansible_password=CHANGE_ME
ansible_become=false
ansible_network_cli_ssh_type=paramiko
